services:
  # Servicio RADIUS (El que valida las cuentas)
  radius:
    image: freeradius/freeradius-server:latest
    container_name: radius-granalmacen
    volumes:
      # Apuntamos a los archivos en el subdirectorio que has creado
      - ./radius-server/clients.conf:/etc/raddb/clients.conf:ro
      - ./radius-server/users:/etc/raddb/users:ro
    networks:
      ftp_net:
        ipv4_address: 192.168.144.184
    restart: always

  # Servicio FTP (El que recibe las conexiones)
  ftp-rad:
    build:
      context: ..
      dockerfile: ftp.Dockerfile
    container_name: ftp-granalmacen-rad
    depends_on:
      - radius
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - ./vsftpd.conf:/etc/vsftpd/vsftpd.conf:ro
      - ./pam_vsftpd:/etc/pam.d/vsftpd:ro
      - ./pam_radius_auth.conf:/etc/pam_radius_auth.conf:ro
      - ../certs/vsftpd.pem:/etc/ssl/private/vsftpd.pem:ro
      - ./data:/home:rw
    networks:
      ftp_net:
        ipv4_address: 192.168.144.182
    restart: always

networks:
  ftp_net:
    external: true