services:
  ftp-vrt:
    build:
      context: ..
      dockerfile: ftp.Dockerfile
    container_name: ftp-granalmacen-vrt
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - ./vsftpd.conf:/etc/vsftpd/vsftpd.conf:ro
      - ./vsftpd_login.db:/etc/vsftpd_login.db:ro # Base de dades virtual
      - ./pam_vsftpd:/etc/pam.d/vsftpd:ro
      - ../certs/vsftpd.pem:/etc/ssl/private/vsftpd.pem:ro
      - ./data:/home/virtual:rw
    networks:
      ftp_net:
        ipv4_address: 192.168.144.181
    restart: always

networks:
  ftp_net:
    external: true